/Conecta4_Cliente/nbproject/private/
/Conecta4_protocolo/nbproject/private/
/Conecta4_Servidor/nbproject/private/
/tic-tac-toe-con-sockets-en-java-master/build/
/tic-tac-toe-con-sockets-en-java-master/nbproject/private/
/Conecta4_Cliente/build/
/Conecta4_protocolo/build/
/Conecta4_protocolo/dist/
/Conecta4_Servidor/build/
/Conecta4_Cliente/dist/
/Conecta4_Servidor/dist/
/Practica4/Conecta4_Cliente/build
/Practica5/Conecta4_Cliente/build/
/Practica5/Conecta4_Cliente/nbproject/private/
/Practica5/Conecta4_Servidor/build/
/Practica5/Conecta4_Servidor/nbproject/private/
/Practica5/Conecta4_Cliente/dist/
/Practica5/Conecta4_Servidor/dist/